.ActionBlock{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 10vh;
    background-color: #303841;
    color: #87b683;
    height: 55vh;
    border-radius: 15px 0px 0px 15px;
    color:  white;
}
.BlockButtAction{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6vh;
    height: 6vh;
    background-color: #21252a;
    color: white;
    border: none;
    border-radius: 1vh;
    transition: transform .1s;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    
}
.BlockButtAction:hover{
    background-color: #464c54;
    transform: scale(1.1);
    cursor: pointer;
}
.Avatars{
    width: 4vh;
    height: 4vh;
    cursor: pointer;
}

@media (max-width: 600px) {
    .ActionBlock{
        position:fixed;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        background-color: #303841;
        color: #87b683;
        height: 10vh;
        border-radius: 0px 0px 0px 0px;
        color:  white;
        margin: 40vh 0vw 0vh -100vw;
    }
    .BlockButtAction{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6vh;
        height: 6vh;
        background-color: #21252a;
        color: white;
        border: none;
        border-radius: 1vh;
        transition: transform .1s;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
        
    }
    .BlockButtAction:hover{
        background-color: #464c54;
        transform: scale(1.1);
        cursor: pointer;
    }
    .Avatars{
        width: 4vh;
        height: 4vh;
        cursor: pointer;
    }
    
}