.GameWindow{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #303841;
    width: 40vw;
    height: 75vh;
    color: white;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.GameBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    background-color: #22282e;
    width: 35vw;
    height: 50vh;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
}
.Balance{
    background-color: #101316;
    width: 25vw;
    height: 3vh;
    padding: 10px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around ;
    align-items: center;
}
.GamePet{
    width: 15vh;
    height: 15vh;
    animation: rotate 5s linear infinite;
    user-select: none
}
.ClickBut{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vh;
    height: 30vh;
    background-color: gold;
    border-radius: 150px;
    transition: transform .1s;
    cursor: pointer;
   
}
.ClickBut:active{
    transform: scale(1.1);
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    .GameWindow{
        position: absolute;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-color: #303841;
        width: 90vw;
        height: 50vh;
        color: white;
        padding: 5px;
        border-radius: 0px 15px 15px 0px;
        box-shadow: 5px 5px 15px rgba(74, 73, 73, 0.5);
        margin-top: -35vh;
    }
    .GameBlock{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        background-color: #22282e;
        width: 75vw;
        height: 50vh;
        padding: 15px;
        border-radius: 15px;
        margin: 15px;
    }
    .Balance{
        background-color: #101316;
        width: 65vw;
        height: 3vh;
        padding: 10px;
        color: white;
        border-radius: 10px;
        display: flex;
        justify-content: space-around ;
        align-items: center;
    }
    .GamePet{
        width: 15vh;
        height: 15vh;
        animation: rotate 5s linear infinite;
        user-select: none
    }
    .ClickBut{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30vh;
        height: 30vh;
        background-color: gold;
        border-radius: 150px;
        transition: transform .1s;
        cursor: pointer;
       
    }
    .ClickBut:active{
        transform: scale(1.1);
    }
}