.HealthWindow{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #303841;
    width: 20vw;
    height: 35vh;
    color: white;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 5px 5px 15px rgba(74, 73, 73, 0.5);
}
.IconProdukt{
    display: flex;
    justify-content: space-between;
    width: 2vw;
    background-color: #21262d;
    padding: 10px;
    border-radius: 10px;
}
.Piils{
    width: 4vh;
    height: 4vh;
}
@media (max-width: 600px) {
    .HealthWindow{
        position: absolute;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-color: #303841;
        width: 70vw;
        height: 25vh;
        color: white;
        border-radius: 0px 15px 15px 0px;
        box-shadow: 5px 5px 15px rgba(74, 73, 73, 0.5);
        margin-top: -35vh;
    }
    .IconProdukt{
        display: flex;
        justify-content: space-between;
        width: 10vw;
        background-color: #21262d;
        padding: 10px;
        border-radius: 10px;
    }
    .Piils{
        width: 4vh;
        height: 4vh;
    }
}