.Hud{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 50vw;
    background-color: #303841;
    color: #87b683;
    height: 10vh;
    border-radius: 0px 0px 15px 15px;
    color:  white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.PetHud{
    width: 10vw;
    height: 3vh;
    border: 0.2px solid black;
}
.BlockHud{
    display: flex;
    justify-content: start;
    background-color: #c8cadb;
    align-items: center;
    width: 8vw;
    height: 3vh;
    border: 0.5px solid black;
    margin: 5px 0px;
}
.CentralAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
    .Hud{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        width: 100vw;
        background-color: #303841;
        color: #87b683;
        height: 10vh;
        border-radius: 0px 0px 15px 15px;
        color:  white;
        box-shadow: 5px 5px 15px rgba(74, 73, 73, 0.5);
    }
    .PetHud{
        width: 10vw;
        height: 3vh;
        border: 0.2px solid black;
    }
    .BlockHud{
        display: flex;
        justify-content: start;
        background-color: #c8cadb;
        align-items: center;
        width: 20vw;
        height: 3vh;
        border: 0.5px solid black;
        margin: 5px 0px;
    }
    .CentralAll{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}