.MenuWindow{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: #303841;
    width: 20vw;
    height: 75vh;
    color: white;
    border-radius: 0px 15px 15px 0px;
    box-shadow: 5px 5px 15px rgba(74, 73, 73, 0.5);
}

.ListProdukt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    background-color: #3f474f;
    padding: 10px;
    border-radius: 15px;
    color: white;
}
.NameProdukt{
    display: flex;
    justify-content: space-between;
    width: 8vw;
    background-color: #21262d;
    padding: 10px;
    border-radius: 10px;
}
.Menu{
    font-size: 6vh;
    margin: 0vh 2vh;
}
.ButtonSpreed{
    background-color: #21262d;
    border: none;
    color: white;
    padding: 1vh;
    border-radius: 6px;
    transition: transform .1s;
}
.ButtonSpreed:hover{
    background-color: #4b535b;
    cursor: pointer;
    transform: scale(1.1);
}
.FoodPoint{
    width: 4vh;
    height: 4vh;
}

@media (max-width: 600px) {
    .MenuWindow{
        position: absolute;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-color: #303841;
        width: 90vw;
        height: 45vh;
        color: white;
        border-radius: 0px 15px 15px 0px;
        box-shadow: 5px 5px 15px rgba(74, 73, 73, 0.5);
        margin-top: -37vh;
    }
    .ListProdukt{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 10px;
        background-color: #3f474f;
        padding: 3px;
        border-radius: 15px;
        color: white;
    }
    .NameProdukt{
        display: flex;
        justify-content: space-between;
        width: 30vw;
        background-color: #21262d;
        padding: 4px;
        border-radius: 7px;
    }
    .Menu{
        font-size: 3vh;
        margin: 0vh 2vh;
    }
    .ButtonSpreed{
        background-color: #21262d;
        border: none;
        color: white;
        padding: 1vh;
        border-radius: 6px;
        transition: transform .1s;
    }
    .ButtonSpreed:hover{
        background-color: #4b535b;
        cursor: pointer;
        transform: scale(1.1);
    }
    .FoodPoint{
        width: 2vh;
        height: 2vh;
    }
}