.SettingWindow{
    background-color: #303841;
    width: 20vw;
    height: 40vh;
    border-radius: 0px 20px 20px 0px;
}
.SettingsText{
    color: white;
    padding: 1vw;
}
.Logout{
    background-color: #21262c;
    padding: 1vw;
    border: none;
    color: white;
    border-radius: 10px;
    transition: transform .1s;
}
.Logout:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: #6a7582;
}

@media (max-width: 600px) {
    .SettingWindow{
        position: absolute;
        background-color: #303841;
        width: 60vw;
        height: 30vh;
        border-radius: 0px 20px 20px 0px;
        margin-top: -30vh;
    }
    .SettingsText{
        color: white;
        padding: 1vw;
    }
    .Logout{
        background-color: #21262c;
        padding: 3vw;
        border: none;
        color: white;
        border-radius: 10px;
        transition: transform .1s;
    }
}